{% extends "base.html" %}
<div>
    {% load static %} {% block stylecontent %} 
    .firstbox{ 
        color:yellow; 
        background-image: url('https://picsum.photos/id/187/700/400?grayscale'); 
        width:100%;
        max-width:600px;
        margin:auto;
        margin-top:0;
        height:60vh;
        padding-top:80px;
        display:flex;
        flex-direction:column;
        justify-content: center;
    } 
    .secondbox{ 
        color:yellow; 
        background-color:#0D76D0;
        width:100%;
        max-width:600px;
        margin:auto;
        margin-top:15px;
        height:30vh;
    } 
    .stepbox{
        width:80%;
        border-radius: 7px;
        max-width:400px;
        height:20vh;
        margin: auto;
        margin-top:15px;
        box-shadow:0 8px 25px #bfc2c7;
    }
    .trialbutton{
        border: none;
        border-radius: 7px;
        background-color: white;
        color: #0D76D0;
        width:40%;
        max-width:250px;
        height:7vh;
        margin:auto;
        margin-top:15px;
        box-shadow:0 8px 25px #bfc2c7;
    }
    .trialbutton:hover{
        background-color: #0D76D0;
        color: white;

    }
    .curationbox{
        color:yellow; 
        background-color:#261A40;
        width:100%;
        max-width:400px;
        margin:auto;
        height:40vh;
        margin: auto;
        margin-top:15px;
    }
    .libbutton{
        border: none;
        border-radius: 7px;
        background-color: white;
        color: #0D76D0;
        width:40%;
        max-width:400px;
        height:7vh;
        margin-left: 30%;
        margin-top:15px;
    }
    .libbutton:hover{
        background-color: #0D76D0;
        color: white;

    }
    .promobox{
        width:100%;
        max-width:600px;
        margin:auto;
        margin-top:15px;
        height:30vh;
        background-color: orange;
        color:blue;
    }
    .wrapbox{
        display:flex;
        flex-direction:column;

    }
    .container{
        margin:0 auto;
        margin-top:20px;
        position: relative;
        width:70%;
        height:0;
        padding-bottom:40%;
        background:#4c4c4c;
        border: solid 10px #2c2c2c;
    }
    .slide_img{
        position: absolute;
        width:100%;
        height:100%;
        z-index:-1;
    }
    .slide_img img{
        position: absolute;
        width:100%;
        height:100%;
    }
    #i1,#i2,#i3{
        display:none;
    } 
    .pre, .nxt{
        width:12%;
        height:100%;
        position:absolute;
        top:0;
        background: rgb(88,88,88,.4);
        z-index:99;
        cursor:pointer;
    }
    .pre{
        left:0;
    }
    .nxt{
        right:0;
    }
    .navside{
        width:100%;
        height:11px;
        bottom:12%;
        position:absolute;
        text-align:center;
        z-index:99;
    }
    .dots{
        top:-5px;
        width:10px;
        height:10px;
        margin:0 4px;
        position: relative;
        border-radius:50%;
        display:inline-block;
        background:rgba(0,0,0,0.6);
    }
    #i1:checked ~ #one,
    #i2:checked ~ #two,
    #i3:checked ~ #three{
        z-index:9;
    }
    

    {% endblock stylecontent %}
</div>
<div>
    {% block content%}
<div class='mainbox'>
    <div class="firstbox">
        <h1 class='firsttext'>우리 아이를 위한 맞춤형 그림책 구독 서비스</h1>
        <br>
        <h3>개성넘치는 우리 아이를 위해 좋은 그림책만을 선정해서 매주 5권씩 배송합니다.</h3>
        <button class='libbutton'><h3> 바로 신청하기</h3></button>
    </div>
    <div class="secondbox">
        <h1>아이에게 맞는 주제별, 테마별 분석 결과를 제공합니다</h1>
    </div>
    <div class='stepbox'>
        <h2>우리 아이 독서 분석지와 함께 추천도서 매주 5권 받아보기</h2>
    </div>
    <div class='stepbox'>
        <h2>마음에 드는 책 평가하기</h2>
    </div>
    <div class='stepbox'>
        <h2>문앞에서 바로 반납하기</h2>
    </div>
    <div class='stepbox'>
        <h3>아이별 분석, 도서 선정, 배송, 소독까지 모든 과정은 어바웃북스에서 담당합니다. 집에서 클릭 한 번으로 모든 서비스를 경험해보세요!</h3>
    </div>
    <div class='wrapbox'>
        <button class='trialbutton'><h3> 바로 신청하기</h3></button>
    </div>
    <div class='promobox'>
        <h3>체험단 이벤트!</h3>
        <br>
        <h3>어바웃북스를 프로모션 가격 19000원으로 한 달간 체험해 보세요</h3>
    </div>
    <div class='curationbox'>
        <h2>책은 어떻게 선정하나요?</h2>
        <br>
        <h3>어바웃북스는 아이들이 세상을 균형잡힌 시각으로, 건강하게 바라보기를 바랍니다.  </h3>
        <br>
        <h3>일반 전집에는 없는 수상작과 최신 도서 위주로 엄격하게 선정합니다. </h3>
        <button class='libbutton'><h3>책 리스트 보러가기</h3></button>
    </div>
    <div>
        아래부터 이미지 슬라이더
    </div>
    <div class='container'>
        <input type="radio" name="images" id="i1" checked>
        <input type="radio" name="images" id="i2">
        <input type="radio" name="images" id="i3">

        <div class='slide_img' id='one'>
            <img src="{% static 'us.jpg' %}" alt="">
            <label for="i3" class='pre'></label>
            <label for="i2" class='nxt'></label>
        </div>
        
        <div class='slide_img' id='two'>
            <img src="{% static 'truman.png' %}" alt="">
            <label for="i1" class='pre'></label>
            <label for="i3" class='nxt'></label>
        </div>
        
        <div class='slide_img' id='three'>
            <img src="{% static 'minari.jpg' %}" alt="">
            <label for="i2" class='pre'></label>
            <label for="i1" class='nxt'></label>
        </div>
        <div class='navside'>
            <label class="dots" id='dot1' for='i1'></label>
            <label class="dots" id='dot2' for='i2'></label>
            <label class="dots" id='dot3' for='i3'></label>

        </div>

    </div>

</div>
    {% endblock content %}
</div>
