
    {% load static %} {% block stylecontent %} .firstbox{ color:yellow; background-image:
    url('https://picsum.photos/id/187/700/400?grayscale'); width:100%; max-width:800px; margin:auto; margin-top:0;
    height:60vh; padding-top:80px; display:flex; flex-direction:column; justify-content: center; } .secondbox{
    color:yellow; background-image: url('https://picsum.photos/id/187/700/400?grayscale'); width:100%; max-width:800px;
    margin:auto; margin-top:15px; height:30vh; } .stepbox{ width:80%; border-radius: 7px; max-width:600px; height:20vh;
    margin: auto; margin-top:15px; box-shadow:0 8px 25px #bfc2c7; } .trialbutton{ border: none; border-radius: 7px;
    background-color: white; color: #0D76D0; width:40%; max-width:600px; height:7vh; margin-left: 30%; margin-top:15px;
    box-shadow:0 8px 25px #bfc2c7; } .trialbutton:hover{ background-color: #0D76D0; color: white; } .curationbox{
    color:yellow; background-color:#261A40; width:100%; max-width:800px; margin:auto; height:40vh; margin: auto;
    margin-top:15px; } .libbutton{ border: none; border-radius: 7px; background-color: white; color: #0D76D0; width:40%;
    max-width:600px; height:7vh; margin-left: 30%; margin-top:15px; } .libbutton:hover{ background-color: #0D76D0;
    color: white; } {% endblock stylecontent %}